body {
    margin: 0;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(191, 36%, 91%);
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

#card {
    display: grid;
    grid-template-columns: 600px;
    grid-template-rows: 210px 210px;
    grid-template-areas: "top" "bottom";

    border-radius: 6pt;
    background: white;
    
}

#wrapper {
    grid-area: bottom;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 11pt;
    color: #EEEEEE;
    
}

#div1 {
    color: #A7A7A7;
    grid-area: top;
    margin: 0;
    padding: 30pt 25pt;
}

#div2 {
    background: #3fb8b7;
    border-bottom-left-radius: 6pt;
    padding: 25pt 25pt;  
}

#div3 {
    background: #58C6C5;
    border-bottom-right-radius: 6pt;
    padding: 20pt 20pt;
    font-size: 10pt;
}

#div1 h2 {
    color: hsl(179, 62%, 43%);
}

#div1 h4 {
    color: hsl(71, 73%, 54%);
}